#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                                 &kp Q  &kp W  &kp E       &kp R      &kp T        &kp Y        &kp U             &kp I          &kp O       &kp P
                                 &kp A  &kp S  &kp D       &kp F      &kp G        &kp H        &kp J             &kp K          &kp L       &kp SEMICOLON
&mt LEFT_SHIFT LEFT_PARENTHESIS  &kp Z  &kp X  &kp C       &kp V      &kp B        &kp N        &kp M             &kp COMMA      &kp PERIOD  &kp SLASH      &mt LEFT_CONTROL RIGHT_PARENTHESIS
                                               &kp DELETE  &kp SPACE  &lt 1 TAB    &lt 2 ENTER  &mt LEFT_ALT ESC  &kp BACKSPACE
            >;
        };

        numberLayer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        symbolLayer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
