#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        baseLayer {
            bindings = <
                                 &kp Q  &kp W  &kp E       &kp R        &kp T        &kp Y        &kp U          &kp I                &kp O       &kp P
                                 &kp A  &kp S  &kp D       &kp F        &kp G        &kp H        &kp J          &kp K                &kp L       &kp SEMICOLON
&mt LEFT_SHIFT LEFT_PARENTHESIS  &kp Z  &kp X  &kp C       &kp V        &kp B        &kp N        &kp M          &kp COMMA            &kp PERIOD  &kp SLASH      &mt LEFT_CONTROL RIGHT_PARENTHESIS
                                               &kp DELETE  &lt 3 SPACE  &lt 1 TAB    &lt 2 ENTER  &kp BACKSPACE  &mt LEFT_ALT ESCAPE
            >;

            label = "BASE";
        };

        numberLayer {
            bindings = <
        &trans  &kp F7  &kp F8  &kp F9  &trans    &trans           &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans
        &trans  &kp F1  &kp F2  &kp F3  &trans    &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &trans    &trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans  &trans
                        &trans  &trans  &trans    &trans           &trans           &trans
            >;
        };

        symbolLayer {
            bindings = <
                             &kp SINGLE_QUOTE  &kp LESS_THAN  &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp HASH     &kp AMPERSAND  &kp SEMICOLON  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT
                             &kp EXCLAMATION   &kp KP_MINUS   &kp KP_PLUS       &kp KP_EQUAL       &kp AT       &kp PIPE       &kp COLON      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION
&mt LEFT_BRACKET LEFT_BRACE  &kp CARET         &kp KP_DIVIDE  &kp ASTRK         &kp BACKSLASH      &kp UNDER    &kp TILDE      &kp DOLLAR     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LEFT_WIN  &mt RIGHT_BRACKET RIGHT_BRACE
                                                              &trans            &trans             &trans       &trans         &trans         &trans
            >;
        };

        movementLayer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp C_PREVIOUS  &kp C_PIP          &kp C_PP         &kp C_NEXT  &trans
        &trans  &trans  &trans  &trans  &trans    &kp LEFT        &kp DOWN           &kp UP_ARROW     &kp RIGHT   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp K_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans      &trans  &trans
                        &trans  &trans  &trans    &trans          &trans             &trans
            >;
        };
    };
};
